<div *ngIf="phone">

    <h2>{{phone.city | uppercase}} Details</h2>
    <div><span>id: </span>{{phone.id}}</div>
    <div>
        <label>ip:
            <input [(ngModel)]="phone.ip" placeholder="ip" />
        </label>
    </div>
    <div>
        <label>city:
            <input [(ngModel)]="phone.city" placeholder="city" />
        </label>
    </div>
    <div>
        <label>country:
            <input [(ngModel)]="phone.country" placeholder="country" />
        </label>
    </div>
    <div>
        <label>latitude:
            <input [(ngModel)]="phone.latitude" placeholder="latitude" />
        </label>
    </div>
    <div>
        <label>longtitude:
            <input [(ngModel)]="phone.longtitude" placeholder="longtitude" />
        </label>
    </div>
    
    <button (click)="goBack()">go back</button>
</div>